.list
  %h2 Projects
  
  %div
    != show_flash
    != show_error
  
  %p
    %a(href="/projects/new") Make a new project
    
  - if !(@projects.nil?)
    %ul
      - @projects.each do |project|
        %li
          = project.name
          %br
          %a(href="http://#{project.link}")
            = project.link
          %br
          = project.description
          = project.published?
          %br
          %a(href="/projects/delete/#{project.id}") Delete
          %a(href="/projects/publish/#{project.id}") Publish
          %br
  - else
    %p
      = message